.col-md-12#test
  %h1 Test #0 - the basics
  %p
    Welcome to How do I QA?
  %h3 Your task
  %p
    Write a test to check if clicking the 'Next' button leads to next page.
  %p
    Steps:
    %ul
      %li Visit this page's url, this action is called test_0 - you can look up the url by running 'rake routes' in terminal.
      %li Check that this is the page you expected to visit - does the page contain 'Test #0' text anywhere on it?
      %li Click the 'Next' button.
      %li Check that the next page contains some text that's unique to it.
    And you are finished with the basics of basics.
  %p
    %h3 Things we learn in this step:
    %ul
      %li= link_to 'capybara\'s visit method', 'https://github.com/jnicklas/capybara#navigating'
      %li= link_to 'clicking links and buttons', 'https://github.com/jnicklas/capybara#clicking-links-and-buttons'
      %li= link_to 'checking for content', 'https://github.com/jnicklas/capybara#querying'

= render 'common/footer', next_link: test_1_pages_path
