.col-md-12#test
  %h1 Test #5 - page that requires authentication
  %p
    Most of the time the pages are behind a filter that checks if you're logged in first.
  %h3 Your task
  %p
    Write a spec for page that requires authentication.
    Don't log the user in, stub the required methods instead and return an object you create in spec.
    Check if your user's email displays on the page.
    Which method checks that user is authenticated? Stub it.
    You need a user object, devise uses current_user - stub it.
  %h3 Things we learn in this step:
  %p
    %ul
      %li= link_to 'stubs on any instance of a class', 'http://www.rubydoc.info/github/rspec/rspec-mocks/RSpec/Mocks/ExampleMethods%3aallow_any_instance_of'
      %li= link_to 'creating a resource object using a factory', 'http://www.rubydoc.info/gems/factory_girl/file/GETTING_STARTED.md#Defining_factories'
  %h2 Subject of test:
  %p
    This is current user's email:
    %strong= current_user.email

= render 'common/footer', next_link: test_6_pages_path
