.col-md-12
  %h1 Test #0
  %p
    Welcome to How do I QA?
  %h3 Your task
  %p
    Write a test to check if clicking the 'Next' button leads to next page.


= render 'common/footer', next_link: test_1_pages_path
