defaults: &defaults
  adapter: postgresql
  host: localhost
  username: howdoiqa
  password: howdoiqa

development:
  <<: *defaults
  database: howdoiqa_development

test: &test
  <<: *defaults
  database: howdoiqa_test

